<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>

  <include file="$(find exercises)/part0/ros/launch/burger_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- 
       Default -Open rViz config to true for local rviz client. 
       Allows override to disable it for RoboMaker. See hello_world_aws.launch. 
  -->
  <arg name="open_rviz_config" default="true"/>
  <group if="$(arg open_rviz_config)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>
  </group>
  
</launch>
